h2.subheading p:last-child {
  color: #000;
  font-size: 1em;
  font-weight: 600;
  margin-top: 8px;
  letter-spacing: 0.07em;
}

.bg-img-top {
  background-image: url(../images/kinzoku/top.jpg);
}

.bg-color-section {
  background-color: #ffedce;
}
.bg-color-footer {
  background-color: #c17a02;
}

#workingline .flbx-item {
  width: 100%;
}
#workingline .flbx-item img {
  width: 100%;
}

#workingline dd,
#planting dd {
  font-size: 0.9rem;
  padding: 7px;
}

.centering dt {
  text-align: center;
}

dl.dlToTable dt:first-of-type,
dl.dlToTable dd:first-of-type {
  border-top: 1px solid #ccc;
}

#inquiry .tel,
#inquiry .fax {
  color: #000;
  background-color: #ffedce;
}
h2.subheading {
  border: none;
}
h2.subheading p:last-of-type span {
  border-bottom: 5px solid #333;
}

h3 span,
#inquiry .tel .caption span,
#inquiry .fax .caption span {
  border-bottom: 3px solid #d87d14;
}
#inquiry .number span:last-of-type {
  color: #d87d14;
}

/* ページトップへ戻るボタン */
#page_top {
  background-color: #dd4306;
}
