.bg-img-top {
  background-image: url(../images/top/top.jpg);
}

.bg-color-section {
  background-color: #eee;
}
.bg-color-footer {
  background-color: #111;
}

.subheading {
  border-color: #666 !important;
}

.top-summary {
  max-width: 600px;
  width: 90%;
  line-height: 1.6em;
}

#philosophy h2 span {
  border-bottom: 5px solid #000;
}

#grouplink > div {
  padding: 1.5rem 1.5rem 300px 1.5rem;
}
#grouplink .group-list a {
  color: #000;
  text-decoration: none;
}
#grouplink .group-list .row > div {
  min-width: 240px;
}

.row {
  justify-content: center;
}
.col-lg-4 {
  width: 25%;
}

@media only screen and (max-width: 768px) {
  .col-lg-4 {
    width: 80%;
  }
}

/* 画像エフェクト */
.img_wrap {
  margin: 0 auto;
  overflow: hidden;
}
.img_wrap img {
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.img_wrap img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
/* / 画像エフェクト */

/* ページトップへ戻るボタン */
#page_top {
  background-color: #a6a6a6;
}
